body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(cel.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.converter {
    background-color: #fff;
    padding: 60px;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
#fromUnit{
    width: 100px;
    padding: 10px; 
}

input[type="number"] {
    width: 200px;
    padding: 10px;
    margin-bottom: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    width: 100px;
    padding: 10px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.result {
    margin-top: 20px;
    font-weight: bold;
}